# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron:  '0 0 * * *'
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  test:
    strategy:
      fail-fast: false
      matrix:
        mirror:
          - docker.io
          - registry-1.docker.io
          - registry.hub.docker.com
          - mirror.baidubce.com
          - hub-mirror.c.163.com
          - docker.mirrors.ustc.edu.cn
          - mirror.gcr.io
          - dockerproxy.com
          - ccr.ccs.tencentyun.com
    runs-on: ubuntu-latest
    steps:
      - name: pull
        run: docker pull ${{ matrix.mirror }}/library/nginx ||  echo "::error title=aaa::bbb"
